body{
    flex-direction: column;
    display: flex;
    max-width: 480px;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
}
ion-icon{
    display: none;
}
img{
    width: 144px;
    height: 87px;
}
h1,h2{
    font-family: 'Righteous', cursive;
}
h3,h4,h5,p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 400;
    font-size: 44px;
    color: #ffffff;
}
h2{
    font-weight: 400;
    font-size: 26px;
    color: #333333;
}
h3{
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}
h4{
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}
h5{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}
h6{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
p{
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}
.btn{
    box-sizing: border-box;
    background-color: #cbcbcb;
    border-radius: 50px;
    width: 320px;
    padding-top: 8px;
}
.top{
    width: 100%;
    background-color: #CF2B2B;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    height: 61px;
}
.menu-prato{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
}
.menu-bebida{
    width:100%;
    margin-bottom: 10px;
}
.menu-sobremesa{
    width: 100%;
    margin-bottom:85px;
}
.title{
    margin-left: 15px;
}
.produtos{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    align-items: left;
    justify-content: space-between;
    box-sizing: border-box;
    height: 190px;
    width: 165px;
}
.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    position: relative;
}
.selecionado>ion-icon{
    display: initial;
    color: green;
    font-size: 19px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.textopedido{
    flex-wrap: wrap;
    width: 200px;
    padding-left: 55px;
}
.paddingtop{
    padding-top: 9px;
}
.corbotao{
    background-color:#32B72F ;
}